@using PureSound.Models.ViewModels;
@model List<TrackVM>
@{
    Layout = "~/Views/Shared/_PagesLayout.cshtml";
}

<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Tracks</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="manifest" href="site.webmanifest">
<link rel="shortcut icon" type="image/x-icon" href="~/img/icon.ico">
<link rel="stylesheet" href="~/css/musico-master/css/style.css">
<link rel="stylesheet" href="~/css/user-profile-page-template-in-html-css/css/style.css">
<link rel="stylesheet" href="~/css/musico-master/css/bootstrap.min.css">
<link rel="stylesheet" href="~/css/musico-master/css/owl.carousel.min.css">
<link rel="stylesheet" href="~/css/musico-master/css/magnific-popup.css">
<link rel="stylesheet" href="~/css/musico-master/css/font-awesome.min.css">
<link rel="stylesheet" href="~/css/musico-master/css/themify-icons.css">
<link rel="stylesheet" href="~/css/musico-master/css/nice-select.css">
<link rel="stylesheet" href="~/css/musico-master/css/audioplayer.css">
<link rel="stylesheet" href="~/css/musico-master/css/flaticon.css">
<link rel="stylesheet" href="~/css/musico-master/css/gijgo.css">
<link rel="stylesheet" href="~/css/musico-master/css/animate.css">
<link rel="stylesheet" href="~/css/musico-master/css/slick.css">
<link rel="stylesheet" href="~/css/musico-master/css/slicknav.css">
<link rel="stylesheet" href="~/css/musico-master/css/responsive.css">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css'>
<link rel="stylesheet" href="~/css/StyleSheet.css">



<body>
    <div class="slider_area">
        <div class="d-flex align-items-center slider_bg_1 overlay2" style="height:110px">
        </div>
    </div>
    <div class="music_area music_gallery">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title text-center mb-65">
                        <h3>
                            Tracks
                        </h3>
                        @if (this.User.IsInRole("Administrator"))
                        {
                            <div class="container-login100-form-btn m-t-32">
                            <a asp-controller="Tracks" asp-action="AddTrack" class="login100-form-btn">
                                Add Track
                            </a>
                        </div>
                        }
                        <br /><br />
                        <div>
                            <form method="get" asp-controller="Tracks" asp-action="Tracks">
                                <select id="sort" name="sortOption" class="custom-select" style="width:150px">
                                    <option value="By Title (A-Z)">By Title (A-Z)</option>
                                    <option value="By Title (Z-A)">By Title (Z-A)</option>
                                    <option value="By Year (Newest)">By Year (Newest)</option>
                                    <option value="By Year (Oldest)">By Year (Oldest)</option>
                                    <option value="By Genre">By Genre</option>
                                </select>
                                <button type="submit" class="btn btn-primary">Sort</button>
                            </form>
                        </div>
                        <br />
                    </div>
                </div>
            </div>
            @foreach (var item in Model)
            {
                <div class="row align-items-center justify-content-center mb-20">
                    <div class="col-xl-10">
                        <div class="row align-items-center">
                            <div class="col-xl-9 col-md-9">
                                <div class="music_field">
                                    <div class="thumb">
                                        <img src=@item.ImageURL style="height:100px;width:140px">
                                    </div>
                                    <div class="track_name">
                                        <div class="name">
                                            <h4>@string.Join(" & ", ViewBag.Artists) - @item.Title</h4>
                                            <p>@item.Genre.Name</p>
                                            <p style="margin-top:-10px">@item.Year</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-3">
                                <div class="music_btn">
                                    <a asp-controller="Tracks" asp-action="EachTrack" asp-route-id="@item.Id" class="boxed-btn">See More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous">
    </script>
    <script src="~/css/StyleSheet.css"></script>
    <script src="~/css/site.css"></script>


</body>