@using PureSound.Models.ViewModels;
@using System.Globalization;
@model IndexVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Home</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="~/css/musico-master/css/style.css">
<link rel="stylesheet" href="~/css/user-profile-page-template-in-html-css/css/style.css">
<link rel="stylesheet" href="~/css/musico-master/css/bootstrap.min.css">
<link rel="stylesheet" href="~/css/musico-master/css/owl.carousel.min.css">
<link rel="stylesheet" href="~/css/musico-master/css/magnific-popup.css">
<link rel="stylesheet" href="~/css/musico-master/css/font-awesome.min.css">
<link rel="stylesheet" href="~/css/musico-master/css/themify-icons.css">
<link rel="stylesheet" href="~/css/musico-master/css/nice-select.css">
<link rel="stylesheet" href="~/css/musico-master/css/audioplayer.css">
<link rel="stylesheet" href="~/css/musico-master/css/flaticon.css">
<link rel="stylesheet" href="~/css/musico-master/css/gijgo.css">
<link rel="stylesheet" href="~/css/musico-master/css/animate.css">
<link rel="stylesheet" href="~/css/musico-master/css/slick.css">
<link rel="stylesheet" href="~/css/musico-master/css/slicknav.css">
<link rel="stylesheet" href="~/css/musico-master/css/responsive.css">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css'>
<link rel="stylesheet" href="~/css/StyleSheet.css">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<body>
    <div class="bradcam_area breadcam_bg_2">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text text-center">
                        <h3>PureSound</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h2 style="margin-top:30px ;display:flex; justify-content:center">Latest News</h2>
    <div class="gtco-testimonials">

        <div class="owl-carousel owl-carousel1 owl-theme">
            @foreach (var item in Model.Articles)
            {
                <div>
                    <div class="card text-center">
                        <img class="img-top" src="@item.ImageURL" style="height:220px; width:445px; border-top-left-radius:20px; border-top-right-radius:20px">
                        <div class="card-body">
                            <h5>@item.Title<br /></h5>
                            <p style="color:black;">Category: @item.Category.Name</p>
                            <p class="card-text" style="font-size:small; margin-top:-25px">
                                @item.Date.ToString("M/dd/yyyy", new CultureInfo("en-GB"))
                            </p>
                            <div class="music_btn">
                                <a asp-controller="Blog" asp-action="EachArticle" asp-route-id="@item.Id" class="genric-btn primary" style="height:30px; justify-content:center; align-content:center">See More</a>
                            </div>
                        </div>
                    </div>

                </div>
            }
        </div>
    </div>
    <br />
    <br />
    <br />
    <div style="width: 100%; margin-bottom:200px">
        <div style="width: 30%; float: left; background-color: #ededed !important; margin-left:10%; border-radius:30px">
            <h4 style="justify-content:center; display:flex">Community Favourite Artists</h4><br />
            <ol>
                @foreach (var item in Model.Artists)
                {
                    <li>
                        <div class="col-xl-9 col-md-9">
                            <div class="music_field">
                                <div class="thumb" style="display:flex; align-items:center; justify-content:left">
                                    <div class="col-1" style="margin-right: 40px !important;">
                                        <h3>@item.Index.</h3>
                                    </div>
                                    <img src=@item.ImageURL style="height:70px;width:70px; border-radius:70px">
                                    <a asp-controller="Artists" asp-action="EachArtist" asp-route-id="@item.Id">
                                        <h4 style="margin-left: 30px; margin-top:-30px; color:black">@item.Username</h4>
                                    </a>
                                    <div class="col-xl-3 col-md-3">
                                        <i class="fa fa-heart" style="color:red; margin-top:60px; margin-left:-55px"></i>
                                        <p style="color:black; margin-left:-32px; margin-top:-23px">@item.FavoriteArtists!.Count</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                    </li>
                }
            </ol>
        </div>
        <div style="margin-left: 60%; width:30%; background-color: #ededed !important; border-radius:30px">
            <h4 style="justify-content:center; display:flex">Community Favourite Tracks</h4><br />
            <ol>
                @foreach (var item in Model.Tracks)
                {
                    <li>
                        <div class="col-xl-9 col-md-9">
                            <div class="music_field">
                                <div class="thumb" style="display:flex; align-items:center; justify-content:left">
                                    <div class="col-1" style="margin-right: 40px !important;">
                                        <h3>@item.Index.</h3>
                                    </div>
                                    <img src="@item.ImageURL" style="height:70px;width:110px; border-radius:10px; margin-right: 10px;">
                                    <div style="margin-left: 20px;">
                                        <a asp-controller="Tracks" asp-action="EachTrack" asp-route-id="@item.Id">
                                            <h4 style="margin-top: 20px; color:black">@item.Title</h4>
                                        </a>
                                        <div class="col-xl-3 col-md-3">
                                            <i class="fa fa-heart" style="color:red;"></i>
                                            <p style="color:black; margin-left:23px; margin-top:-23px">@item.FavoriteTracks.Count</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                    </li>
                }
            </ol>
        </div>

    </div>





    <script src="~/css/user-profile-page-template-in-html-css/css/StyleSheet.css"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="~/css/musico-master/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="~/css/musico-master/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/css/musico-master/js/popper.min.js"></script>
    <script src="~/css/musico-master/js/bootstrap.min.js"></script>
    <script src="~/css/musico-master/js/owl.carousel.min.js"></script>
    <script src="~/css/musico-master/js/isotope.pkgd.min.js"></script>
    <script src="~/css/musico-master/js/ajax-form.js"></script>
    <script src="~/css/musico-master/js/waypoints.min.js"></script>
    <script src="~/css/musico-master/js/jquery.counterup.min.js"></script>
    <script src="~/css/musico-master/js/imagesloaded.pkgd.min.js"></script>
    <script src="~/css/musico-master/js/scrollIt.js"></script>
    <script src="~/css/musico-master/js/jquery.scrollUp.min.js"></script>
    <script src="~/css/musico-master/js/wow.min.js"></script>
    <script src="~/css/musico-master/js/nice-select.min.js"></script>
    <script src="~/css/musico-master/js/jquery.slicknav.min.js"></script>
    <script src="~/css/musico-master/js/jquery.magnific-popup.min.js"></script>
    <script src="~/css/musico-master/js/plugins.js"></script>
    <script src="~/css/musico-master/js/gijgo.min.js"></script>
    <script src="~/css/musico-master/js/slick.min.js"></script>
    <script src="~/css/musico-master/js/contact.js"></script>
    <script src="~/css/musico-master/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/css/musico-master/js/jquery.form.js"></script>
    <script src="~/css/musico-master/js/jquery.validate.min.js"></script>
    <script src="~/css/musico-master/js/mail-script.js"></script>
    <script src="~/css/musico-master/js/js/main.js"></script>

    <script>
        (function () {
            "use strict";

            var carousels = function () {
                $(".owl-carousel1").owlCarousel({
                    loop: true,
                    center: true,
                    margin: 0,
                    responsiveClass: true,
                    nav: false,
                    responsive: {
                        0: {
                            items: 1,
                            nav: false
                        },
                        680: {
                            items: 2,
                            nav: false,
                            loop: false
                        },
                        1000: {
                            items: 3,
                            nav: true
                        }
                    }
                });
            };

            (function ($) {
                carousels();
            })(jQuery);
        })();

    </script>
</body>