@using PureSound.Data.Entities;
@model PureSound.Models.ViewModels.ArtistVM
@{
    Layout = "~/Views/Shared/_PagesLayout.cshtml";
    List<Track> songs = ViewBag.Songs;
}
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>@Model.Username</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="manifest" href="site.webmanifest">
<link rel="shortcut icon" type="image/x-icon" href="~/img/icon.ico">
<!-- Place favicon.ico in the root directory -->
<!-- CSS here -->
<link rel="stylesheet" href="~/css/musico-master/css/style.css">
<link rel="stylesheet" href="~/css/user-profile-page-template-in-html-css/css/style.css">
<link rel="stylesheet" href="~/css/musico-master/css/bootstrap.min.css">
<link rel="stylesheet" href="~/css/musico-master/css/owl.carousel.min.css">
<link rel="stylesheet" href="~/css/musico-master/css/magnific-popup.css">
<link rel="stylesheet" href="~/css/musico-master/css/font-awesome.min.css">
<link rel="stylesheet" href="~/css/musico-master/css/themify-icons.css">
<link rel="stylesheet" href="~/css/musico-master/css/nice-select.css">
<link rel="stylesheet" href="~/css/musico-master/css/audioplayer.css">
<link rel="stylesheet" href="~/css/musico-master/css/flaticon.css">
<link rel="stylesheet" href="~/css/musico-master/css/gijgo.css">
<link rel="stylesheet" href="~/css/musico-master/css/animate.css">
<link rel="stylesheet" href="~/css/musico-master/css/slick.css">
<link rel="stylesheet" href="~/css/musico-master/css/slicknav.css">
<link rel="stylesheet" href="~/css/musico-master/css/responsive.css">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css'>
<link rel="stylesheet" href="~/css/StyleSheet.css">




<body>
    <!-- slider_area_start -->
    <div class="slider_area">
        <div class="d-flex align-items-center slider_bg_1 overlay2" style="height:110px">
        </div>
    </div>
    <!-- slider_area_end -->
    <!-- music_area  -->
    <div class="music_area music_gallery" style="margin-right:0px">
        <div class="container">
            <div class="image" style="margin-left:460px; margin-right:0px">
                <img src=@Model.ImageURL style="height:200px; width:200px; border-radius:200px" />
            </div>
            <div class="row">
                <div class="col-xl-12" style="margin-top:30px">
                    <div class="section_title text-center mb-65">
                        <h1>
                            @Model.Username
                        </h1>
                        @if (this.User.IsInRole("Administrator"))
                        {
                            <div style="position:center">
                                <form method="post" asp-controller="Artists" asp-action="DeleteArtist" asp-route-id="@Model.Id">
                                    <button type="submit">Delete</button>
                                </form>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div style="margin-top:-60px" class="row">
                <div class="col-xl-12" style="margin-top:30px">
                    <div class="section_title text-center mb-65">
                        <hr style="margin-left:430px; width:250px;" />
                        <br />
                        <h4>Main Genre: @Model.Genre.Name</h4>
                        <h4>Age: @Model.Age</h4>
                        <br />
                        <hr style="margin-left:430px; width:250px;" />
                    </div>
                </div>
            </div>
            <div class="row align-items-center justify-content-center mb-20">
                <h2 style="color:dimgray">Tracks</h2>
            </div>
            <div style="margin: 100px">
                @foreach (var item in songs)
                {

                    <div class="row align-items-center justify-content-center mb-20">
                        <div class="col-xl-10">
                            <div class="row align-items-center">
                                <div class="col-xl-9 col-md-9">
                                    <div class="music_field">
                                        <div class="thumb">
                                            <img src=@item.ImageURL style="height:150px;width:220px">
                                        </div>
                                        <div class="track_name">
                                            <div class="name">
                                                <a asp-controller="Tracks" asp-action="EachTrack" asp-route-id="@item.Id">
                                                    <h4 style="color:black">@item.Title</h4>
                                                </a>
                                                <br>
                                                <p>@item.Genre.Name</p>
                                                <p>@item.Year</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <!-- music_area end  -->
    <!-- link that opens popup -->
    <!-- JS here -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous">
    </script>
    <script src="~/css/musico-master/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="~/css/musico-master/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/css/musico-master/js/popper.min.js"></script>
    <script src="~/css/musico-master/js/bootstrap.min.js"></script>
    <script src="~/css/musico-master/js/owl.carousel.min.js"></script>
    <script src="~/css/musico-master/js/isotope.pkgd.min.js"></script>
    <script src="~/css/musico-master/js/ajax-form.js"></script>
    <script src="~/css/musico-master/js/waypoints.min.js"></script>
    <script src="~/css/musico-master/js/jquery.counterup.min.js"></script>
    <script src="~/css/musico-master/js/imagesloaded.pkgd.min.js"></script>
    <script src="~/css/musico-master/js/scrollIt.js"></script>
    <script src="~/css/musico-master/js/jquery.scrollUp.min.js"></script>
    <script src="~/css/musico-master/js/wow.min.js"></script>
    <script src="~/css/musico-master/js/nice-select.min.js"></script>
    <script src="~/css/musico-master/js/jquery.slicknav.min.js"></script>
    <script src="~/css/musico-master/js/jquery.magnific-popup.min.js"></script>
    <script src="~/css/musico-master/js/plugins.js"></script>
    <script src="~/css/musico-master/js/gijgo.min.js"></script>
    <script src="~/css/musico-master/js/slick.min.js"></script>
    <!--contact js-->
    <script src="~/css/musico-master/js/contact.js"></script>
    <script src="~/css/musico-master/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/css/musico-master/js/jquery.form.js"></script>
    <script src="~/css/musico-master/js/jquery.validate.min.js"></script>
    <script src="~/css/musico-master/js/mail-script.js"></script>
    <script src="~/css/musico-master/js/js/main.js"></script>
    <style>


        label {
            display: block;
            margin-bottom: 5px;
        }

        select {
            width: 150px;
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        button {
            padding: 5px 10px;
            background-color: red;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

            button:hover {
                background-color: darkred;
            }
    </style>
</body>
