@using PureSound.Models.ViewModels;
@using PureSound.Data.Entities;
@{
    Layout = "~/Views/Shared/_PagesLayout.cshtml";
    List<ArtistVM> artists = ViewBag.Artists;
    List<TrackVM> tracks = ViewBag.Tracks;
}

<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>All Entities</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="manifest" href="site.webmanifest">
<link rel="shortcut icon" type="image/x-icon" href="~/img/icon.ico">
<link rel="stylesheet" href="~/css/musico-master/css/style.css">
<link rel="stylesheet" href="~/css/user-profile-page-template-in-html-css/css/style.css">
<link rel="stylesheet" href="~/css/musico-master/css/bootstrap.min.css">
<link rel="stylesheet" href="~/css/musico-master/css/owl.carousel.min.css">
<link rel="stylesheet" href="~/css/musico-master/css/magnific-popup.css">
<link rel="stylesheet" href="~/css/musico-master/css/font-awesome.min.css">
<link rel="stylesheet" href="~/css/musico-master/css/themify-icons.css">
<link rel="stylesheet" href="~/css/musico-master/css/nice-select.css">
<link rel="stylesheet" href="~/css/musico-master/css/audioplayer.css">
<link rel="stylesheet" href="~/css/musico-master/css/flaticon.css">
<link rel="stylesheet" href="~/css/musico-master/css/gijgo.css">
<link rel="stylesheet" href="~/css/musico-master/css/animate.css">
<link rel="stylesheet" href="~/css/musico-master/css/slick.css">
<link rel="stylesheet" href="~/css/musico-master/css/slicknav.css">
<link rel="stylesheet" href="~/css/musico-master/css/responsive.css">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css'>
<link rel="stylesheet" href="~/css/StyleSheet.css">

<body>
    <div class="slider_area">
        <div class="d-flex align-items-center slider_bg_1 overlay2" style="height:110px">
        </div>
    </div>

    <div class="music_area music_gallery">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title text-center mb-65">
                        <h3 style="margin-top: -50px">
                            All Entities
                        </h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    <h4 style="margin-left:225px">Artists</h4>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in artists)
                            {
                                <tr>
                                    <td style="margin-right:-30px">
                                        <div class="row align-items-center justify-content-center mb-20">
                                            <div class="col-xl-10">
                                                <div class="row align-items-center">
                                                    <div class="col-xl-9 col-md-9">
                                                        <div class="music_field">
                                                            <div class="thumb">
                                                                <img src=@item.ImageURL style="height:70px;width:70px; border-radius:70px">
                                                            </div>
                                                            <div class="track_name">
                                                                <div class="name">
                                                                    <a asp-controller="Artists" asp-action="EachArtist" asp-route-id="@item.Id" style="color:black">@item.Username</a>
                                                                    <p>Main Genre: @item.Genre.Name</p>
                                                                    <p style="margin-top:-20px">Region: @item.Region.Name</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td style="height:10px; width:10px">
                                        <div>
                                            <form method="post" asp-controller="Artists" asp-action="DeleteArtist" asp-route-id="@item.Id">
                                                <button style="margin-top:20px" type="submit" class="btn btn-danger">Delete</button>
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
                <div class="col-md-6">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    <h4 style="margin-left:225px">Tracks</h4>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in tracks)
                            {
                                <tr>
                                    <td style="margin-right:-30px">
                                        <div class="row align-items-center justify-content-center mb-20">
                                            <div class="col-xl-10">
                                                <div class="row align-items-center">
                                                    <div class="col-xl-9 col-md-9">
                                                        <div class="music_field">
                                                            <div class="thumb">
                                                                <img src=@item.ImageURL style="height:70px;width: 110px; margin-top:15px">
                                                            </div>
                                                            <div class="track_name">
                                                                <div class="name">
                                                                    <a asp-controller="Tracks" asp-action="EachTrack" asp-route-id="@item.Id" style="color:black">@string.Join(" & ", ViewBag.ArtistsNames) - @item.Title</a>
                                                                    <p>Genre: @item.Genre.Name</p>
                                                                    <p style="margin-top:-20px; margin-left:160px">Year: @item.Year</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td style="height:10px; width:10px">
                                        <div>
                                            <form method="post" asp-controller="Tracks" asp-action="DeleteTrack" asp-route-id="@item.Id">
                                                <button style="margin-top:30px" type="submit" class="btn btn-danger">Delete</button>
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous">
    </script>
    <script src="~/css/StyleSheet.css"></script>
    <script src="~/css/site.css"></script>
</body>

